{{!-- <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Choose your Doctor
  <span class="caret"></span></button> --}}

<div class="dropdown">
<button onclick="myFunction()" class="dropbtn">Dropdown</button>
  <div id="myDropdown" class="dropdown-content">
    <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
    <a href="#about">About</a>
    <a href="#base">Base</a>
    <a href="#blog">Blog</a>
    <a href="#contact">Contact</a>
    <a href="#custom">Custom</a>
    <a href="#support">Support</a>
    <a href="#tools">Tools</a>
  </div>
</div>

  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Health Provider
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      {{#each doctors}}
        <li>
          <option value="{{this.dataValues.id}}">{{this.dataValues.name}}</option>
        </li>
      {{/each}}
    </ul>
  </div>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>

  {{!-- <ul>
    {{#each doctors}}
      <li>
        Name: {{this.dataValues.name}}
      </li>
    {{/each}}
  </ul> --}}

  {{!-- <ul class="dropdown-menu">
  {{#each doctors}}
    <li>
      <option value="{{this.dataValues.id}}">{{this.dataValues.name}}</option>
    </li>
  {{/each}}
  </ul> --}}
</div>