<div class="container2">
  <div class="card text-center">
    <div class="card-header">
      <h1 class="card-title">Administrator Options</h1>
    </div>

    <div class="card-body">

      <div class="row">

        {{!-- <div class="col-md-6">
          <h2>ADD A PATIENT</h2>

          <ul class="list-group patient-list">
            <li class="list-group-item new-item">
              <div>
                <form id="newPatient-form" method="POST" action="/">
                  <input class="new-item" placeholder="Please Enter Name" type="text" id="patientName" /> Doctor: {{> docDDList}}
                  <button id="newPatient" type="submit">Add New Patient</button>
                </form>
              </div>
            </li>
            <span class="patient-container"></span>
          </ul>
        </div>

        <div class="col-md-6">
          <h3>Patients</h3>
          <ul>
            {{#each patients}}
            <li>
              <a href="/api/patients/{{this.id}}"><button>Record a symptom</button></a> {{this.dataValues.name}}
            </li>
            {{/each}}
          </ul>
        </div> --}}

        <div class="row">
          <div class="col-md-6">
            <h2>ADD A SYMPTOM</h2>

            <ul class="list-group Symptom-list">
              <li class="list-group-item new-item">
                <form id="newSymptom-form" method="POST" action="/">
                  <input class="new-item" placeholder="Please Enter Name" type="text" id="symptomName" />
                  <button id="newSymptom" type="submit">Add New Symptom</button>
                </form>
              </li>
              <span class="Symptom-container"></span>
            </ul>
          </div>

          <div class="col-md-6">
            <h3>Symptoms</h3>
            <ul>
              {{#each symptoms}}
              <li>
                Name: {{this.dataValues.name}}
              </li>
              {{/each}}
            </ul>
          </div>
        </div>



        <div class="row">
          <div class="col-md-6">
            <h2>ADD A DOCTOR</h2>

            <ul class="list-group doctor-list">
              <li class="list-group-item new-item">
                <form id="newDoctor-form" method="POST" action="/">
                  <input class="new-item" placeholder="Please Enter Name" type="text" id="doctorName" />
                  <button id="newDoctor" type="submit">Add New Doctor</button>
                </form>
              </li>
              <span class="doctor-container"></span>
            </ul>
          </div>

          <div class="col-md-6">
            <h3>Doctors</h3>
            <ul>
              {{#each doctors}}
              <li>
                <a href="/api/doctors/{{this.id}}"><button>View Patients</button></a> {{this.dataValues.name}}
              </li>
              {{/each}}
            </ul>
          </div>
        </div>

      </div>

{{!-- Sign Out Button --}}
      <div>
        <a href="/"><button type="submit" class="btn btn-primary btn-lg btn-block">Sign Out</button></a>
      </div>
      <!--Copyright-->
			<div class="card-footer">
				© 2017 Copyright: <a href="https://github.com/CoreyStagner/SymptomTracker"> Project 2 </a>
			</div>