<div class="card container1">
  <div class="card text-center">


    <div class="card-header">
      {{#each patients}}
      <h1 class="card-title">Welcome {{this.dataValues.name}}</h1>
    </div>
    <div id="patientID" value="{{this.dataValues.id}}"></div>
    <a href="/patients/{{this.id}}"><button style="width:100%;">Record a new Symptom</button></a>
    {{/each}}
  </div>

  <h3>My Symptom Record</h3>
  <ul style="list-style: none;">
    {{#each records}}
    <li>
      Symptom: {{this.symptom}}
      <br> Date: {{this.createdAt}}
    </li>
    <li>
      Notes: {{this.notes}}
    </li>
    <br>
    {{/each}}
  </ul>
</div>